
{% extends "layout.html" %}

{% block title %}Buy{% endblock %}

{% block main %}
    

    <form action="/buy" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {% if form.symbol.errors %}
                {{ form.symbol(class="form-control is-invalid", placeholder="Symbol") }}
                <div class="invalid-feedback">
                    {% for error in form.symbol.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.symbol(class="form-control", placeholder="Symbol") }}
            {% endif %}
        </div>        
        <div class="form-group mb-3">
            {% if form.shares.errors %}
                {{ form.shares(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    <span>{{ form.shares.errors[0] }}</span>
                </div>
            {% else  %}
                {{ form.shares(class="form-control", placeholder="Number of shares") }} 
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-outline-primary") }}
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/search_to_buy.js"></script>
{% endblock %}


   

