{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block main %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group mb-3">
        <div class="form-group">
            {{ form.username.label(class="form-control-label mb-2") }}
        </div>

        {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid", placeholder="Name", autofocus=true) }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>

        {% else %}
            {{ form.username(class="form-control", placeholder="Name", value=value) }}
        {% endif %}

    </div>
    <div class="form-group mb-3">
        <div class="form-group">
            {{ form.current_password.label(class="form-control-label mb-2") }}

        </div>

        {% if form.current_password.errors %}
            {{ form.current_password(class="form-control is-invalid", placeholder="Current Password") }}
            <div class="invalid-feedback">
                {% for error in form.current_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>

        {% else %}
            {{ form.current_password(class="form-control", placeholder="Current Password") }}
        {% endif %}

    </div>
    <div class="form-group mb-3">
        {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", placeholder="New Password") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control", placeholder="New Password") }}
        {% endif %}

    </div>
    <div class="form-group mb-3">
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm Password") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        {% endif %}

    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-outline-primary")}}
    </div>

</form>

{% endblock %}


