{% extends "layout.html" %}

{% block title %}
Quoted
{% endblock %}

{% block main %}
<p>A share of {{ qt.name }} ({{ qt.symbol }}) costs ${{ qt.price }}.</p>
{% if lists %}
    <form action="/quoted" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {{ form.list_name(class="form-control mb-3", autofocus=true) }}
            {{ form.submit(class="btn btn-outline-info mb-1") }}
        </div>
    </form>
{% else %}
        <p>You can add share to favourites. <a href="url_for('lists')">Create</a> a list first.</p>
{% endif %}



{% endblock %}